extends layout

block content
  h1= title
  ul
    each category in data.categories
      li
        a(href=category.url) #{category.name} 
        - var i = 0
        each obj in data.product_count 
          if String(obj._id) === String(category._id)
            - i = obj.count
        span (#{i} products)
    else
      li There are no categories.