extends layout

block content
  h1= title
  p Welcome to #[em Inventory Management Application]. You can create, view, update, and remove products.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The inventory has the following record counts:

    ul
      li #[strong Products:] #{data.product_count}
      li #[strong Categories:] #{data.category_count}
      li #[strong Manufacturers:] #{data.manufacturer_count}