extends layout

block content
  h1= title
  p Welcome to #[em Inventory Management Application]. You can create, view, update, and remove products.
  h1 Dynamic content
  if error
    p Error getting dynamic content.
  else
    p The inventory has the following record counts:
    ul
      li #[strong Products:] 
        a(href='/catalog/products') #{data.product_count}
      li #[strong Categories:] 
        a(href='/catalog/categories') #{data.category_count}
      li #[strong Manufacturers:] 
        a(href='/catalog/manufacturers') #{data.manufacturer_count}